* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ##### COMMON CSS ELEMENTS ##### */
body {
    font-family: 'Nerko One', cursive;
    background-color: #add8e6;
}
header {
    text-align: center;
}
h1 {
    color: white;
    font-size: 5rem;
    text-shadow:2px 2px 3px gray;
}
h2 {
    font-size: 2rem;
    text-shadow:2px 2px 1px gray;
}
    h2.airballoon {
        color: deeppink;
    }
    h2.tractor {
        color: orange;
    }
    h2.bicycle {
        color: green;
    }
    h2.ship {
        color: darkorchid;
    }
    h2.submarine {
        color: dodgerblue;
    }
    h2.tram {
        color: red;
    }
h3 {
    font-size: 1.5rem;
}
img {
    width: 180px;
    height: 180px;
}
footer{
    text-align: center;
}

/* ############################### */
/* ##### CLASSES ELEMENTS ##### */
.game_board {
    width: 80%;
    height: auto;
    margin: 20px auto;
}

.row {
    width: 100%;
    text-align: center;
    margin: 40px 0px;
}

.card {
    position: relative;
    display: inline-block;
    margin: 0px 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 1px 1px 4px gray;
    padding: 20px
}
.cover_card {
    background-image: url("../img/pattern.png");
    background-size: contain;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    content: "";
    display: block;
}
    .card:hover .cover_card {
        display: none;
    }